@import "tailwindcss";

@layer base {
	body {
		@apply font-manrope bg-black text-white;
	}
}

@theme {
	--font-manrope: "Manrope", sans-serif;
}

@font-face {
	font-family: Manrope;
	font-style: normal;
	font-weight: 200 800;
	font-display: swap;
	src: url("/fonts/Manrope-VariableFont_wght.ttf") format("truetype");
}
