@import "tailwindcss";
@import "tw-animate-css";

@theme {
	--font-geist: "Geist", sans-serif;
	--font-manrope: "Manrope", sans-serif;
}

@font-face {
	font-family: "Geist";
	font-style: normal;
	font-weight: 100 900;
	font-display: swap;
	src: url("/fonts/Geist.woff2") format("woff2");
}

@font-face {
	font-family: "Manrope";
	font-style: normal;
	font-weight: 200 800;
	font-display: swap;
	src: url("/fonts/Manrope.woff2") format("woff2");
}

@layer base {
	* {
		@apply border-white/10;
	}
	body {
		@apply bg-black font-geist text-white;
	}
}
